.progress{:id => "goal_completeness_percentage_view"}
  .progressbar 
    .indicator 
  .progressText
    %a{:href => timeline_path} 
      %span{:id => "progress_percentage"} 
      %span goals completeness