%h4 Timeline

%div{:class => "span-5"}
  Past
  %ul{:id => "past_box"}
    =render :partial => "items", :locals => {:items => @past_todos}

%div{:class => "span-14"}
  Next 10 months
  %ul{:id => "current_box"}
    =render :partial => "items", :locals => {:items => @current_todos}
          
%div{:class => "span-5 last"}
  Next 10+ years
  %ul{:id => "future_box"}
    =render :partial => "items", :locals => {:items => @future_todos}  