.span{:id => "new_goal_" + frame_id, :class => "new_goal"}
  /%li{:class => "ui-state-default goals"}
  %input{:id => "new_title_" + frame_id, :class => "new_title ui-corner-tr ui-corner-bl ui-corner-br", :type => "text", :placeholder => "your commitment"}
  %span{:id => "add_new_goal_" + frame_id, :class => "new_goal_button ui-icon ui-icon-plusthick", :title => "Add", :style => "display:inline-block;vertical-align: middle;"}
  