.span{:id => "new_goal_" + frame_id, :class => "new_goal"}
  %input{:id => "new_title_" + frame_id, :class => "new_title", :type => "text"}
  %button{:id => "add_new_goal_" + frame_id, :class => "new_goal_button"} Add
