.frame { 
  background-color: #eee;
  padding: 10px; 
  cursor: pointer;
}

.frame_item {
  color: green;
  list-style-type: none;
}

.rename_goal {
  color: blue;
  font-size: 1em;
}


.rename_button_hidden { display:none; }
.rename_button { background-color: yellow;}
.frame_item_edit { display:none;}
.frame_item_mouseover { display:none; font-weight:bold;}
.frame_dude { cursor: pointer;}
.drag_goal_link { 
  cursor: move; 
 // background-image:url('../assets/drag_icon.gif');
 //  background-repeat:no-repeat;
 //    height:40px;
 //    width: 40px;
  }
  

.rename_title{}
.frame_item_rename{display:none;}
.remove_goal{}

