ul.frame { 
  list-style:none;
  padding: 0px;
  cursor: pointer;
  min-height: 150px;
  background-color: #eee;
}
li.goals span.ui-icon {
  display:inline-block;
  vertical-align: top;
}
.frame_item {
  color: green;
}
.new_goal_button {
//  display:inline-block;
//  vertical-align: middle;  
}
.rename_goal {
  color: blue;
  font-size: 1em;
}
.new_title {
  //text-color:red;
}


.rename_button_hidden { display:none; }
.rename_button { background-color: yellow;}
.frame_item_edit { display:none;}
.frame_item_mouseover { display:none; font-weight:bold;}
.frame_dude { cursor: pointer;}
.drag_goal_link { 
  cursor: move; 
 // background-image:url('../assets/drag_icon.gif');
 //  background-repeat:no-repeat;
 //    height:40px;
 //    width: 40px;
  }
  

.rename_title{}
.frame_item_rename{display:none;}
.remove_goal{
  
}

