.progress
{
  width:300px;
  padding:1px;
  background-color:#66FF99;
  border:1px solid black;
  height:30px;
}
.progressbar
{
  width:100px;
  padding:1px;
  background-color:#00CC00;
  border:1px solid black;
  margin:7px;
  height:12px;
  
  float:left;
}
.indicator
{
  width:1px;
  background-color:#006600;
//  background-image:url("shaded-green.png");
  height:12px;
}
.progressText
{
    margin:7px;
}

.status {
  background-color: silver;
  cursor: pointer;
}
.todo_is_done {
  background-color: green;
  cursor: pointer;
}



.due_date {
  display:none;
}