.frame { 
  background-color: #eee;
  padding: 10px; 
  cursor: pointer;
}

.frame_item {
  color: green;
  list-style-type: none;
}

.rename_todo {
  color: blue;
  font-size: 1em;
}


.rename_button_hidden { display:none; }
.rename_button { background-color: yellow;}
.frame_item_edit { display:none;}
.frame_item_mouseover { display:none; font-weight:bold;}
.frame_dude { cursor: pointer;}
.drag_todo_link { 
  cursor: move; 
 // background-image:url('../assets/drag_icon.gif');
 //  background-repeat:no-repeat;
 //    height:40px;
 //    width: 40px;
  }
  

.rename_title{}
.frame_item_rename{display:none;}
.remove_todo{}


.progress
{
  width:260px;
  padding:1px;
  background-color:#66FF99;
  border:1px solid black;
  height:30px;
}
.progressbar
{
  width:100px;
  padding:1px;
  background-color:#00CC00;
  border:1px solid black;
  margin:7px;
  height:12px;
  
  float:left;
}
.indicator
{
  width:80px;
  background-color:#006600;
//  background-image:url("shaded-green.png");
  height:12px;
}
.progressText
{
    margin:7px;
}