<center>
<div style="width: 250px;">
  
    <div class="loud" style="font-size:1.5em;font-weight:bold">Ready to get started?</div>
    <div class="quiet">Create a new account and connect to your Facebook friends automatically.</div>


    <div id="fb-root"></div>
    <script>
      
      function sign_in(user_id, access_token) {
        console.log('entered sign_in')
        var data = {remote: true, user_id: user_id, access_token: access_token};
        $.post('/users/sign_in', data, function(resp) {
          if (resp.success) { console.log('successfully signed in')} 
          else { console.log('failed to sign in') }
        });
      };
      window.fbAsyncInit = function() {
        FB.init({
          appId: '<%= FACEBOOK_APP_ID %>', 
          status: true, 
          cookie: true, 
          xfbml: true, 
          oauth: true});
        FB.Event.subscribe('auth.login', function(response) {
          $('#facebook_faces').show()
          console.log('auth.login returned')

          sign_in(response.authResponse.userID, response.authResponse.accessToken)
          // alert(response.authResponse.accessToken)
          // alert(response.authResponse.userID)
          // alert('in')
          //           $.get('/users/auth/facebook', function(){alert('done')})
          //$.post('/login')
          //window.location = '/users/auth/facebook'

          if(response.status == 'connected') return;
          //window.location = '/';
        });
      };
      (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
          '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
      }());

    </script>
    </br>
    <fb:login-button v="3" size="large" scope="offline_access,email,user_birthday">Sign In with Facebook</fb:login-button>
    </br></br>
    <div id="facebook_faces" style="display:none">
      <fb:login-button show-faces="true" max-rows="1" width="185"></fb:login-button>
    </div>
    
 </br> </br> </br> </br> </br> </br> </br> </br>
    <%=link_to "Log in", user_omniauth_authorize_path(:facebook) %> to Facebook and join your friends using this website
         </br>
         
</div>
</center>