<center>
<div>
  
    <div class="loud" style="font-size:1.5em;font-weight:bold">Ready to get started?</div>
    <div class="quiet">Create a new account and connect to your Facebook friends automatically.</div>

    <div id="fb-root"></div>

    </br>
    <fb:login-button v="3" size="large" scope="offline_access,email,user_birthday">Sign In with Facebook</fb:login-button>
    </br></br>
    <div id="facebook_faces" style="display:none">
      <fb:login-button show-faces="true" max-rows="1" width="185"></fb:login-button>
    </div>
    
    
    
    <% if Rails.env.test? %>
      <%=link_to "Log in", user_omniauth_authorize_path(:facebook) %> to Facebook and join your friends using this website
    <% end %>     
</div>
</center>