
%div{:class => "span-16 colborder"}
  .about_title 
    Commit yourself to action
  
  .quiet Commit your goals and keep track of your accomplishments 
  
  %div{style: "height: 300px; background-color: gray"}
    %p
    video
    
  %div 
    %br 
    Managing priorities can be challenging.
    %br
    Personal time, family, friends, career and social life are all important aspects. 
    %br
    %a{href: goals_path} Commit to your goals
    and visualize the center of your attention and how you are perceived. 

    %p
    Once committed to goals you set expectations of when.
    %br
    %a{href: timeline_path} Manage goals
    to verify past, stay focused on today and keep dreaming future.

    %p
    Seek inspiration from your 
    %a{href: friends_path} friends
    
    %p
    
%div{:class => "span-7 last"}
  - unless user_signed_in?
    =render "facebook_friends_using_site"
  - else
    =render "facebook_like"
    / <div class="fb-like" data-send="false" data-width="450" data-show-faces="true"></div>

