%div{:class => "span-16 colborder"}
  .about_title 
    Commit yourself to action
  
  .quiet Commit your goals and keep track of your accomplishments 
  
  %div 
    %br 
    Managing priorities can be challenging.
    %br
    Personal time, family, friends, career and social life are all important aspects. 
    %br
    %a{href: goals_path} Commit to your goals
    and visualize the center of your attention - how you are perceived by others. 

    %p
    Once committed to goals you set the timescale of your expectations.
    %br
    %a{href: timeline_path} Manage goals
    to resume in retrospect past, stay focused on today and keep dreaming future.

    %p
    Seek inspiration from your 
    %a{href: friends_path} friends
    
    %p
    
  %div{style: "height: 300px; background-color: gray"}
    %p
    video
    
%div{:class => "span-7 last"}
  - unless user_signed_in?
    =render "facebook_login"
  - else
    =render "facebook_like"