Every day we focus on urgent and very important activities.
We are so much occupied with details that we need to remind ourselves to focus on the big picture.
Inspired by great people who have achieved a lot in their lives we intend to assist you.
Control your own destiny!

%p
Frame allows to visualize what is the center of your attention and compare it to what you would want it to be.

%p
Timeline assists you to keep focus on your goals as months passes by. You first look at the next 10 months important goals you want to achieve. You also set your future goals for the next 10+ years and as the time passes history will be made. Would not it be interesting to see your grandfathers timeline of his most important accomplished and unreached goals? To see king of the pop goals that helped him become popular?  

%p
video