.terms_of_service
  %h1 Terms of Service

  %p By using the all services of 101todos.com, you are agreeing to be bound by the following terms and conditions (&#x201c;Terms of Service&#x201d;).

  %p 
    101todos.com reserves the right to update and change the Terms of Service from time to time without notice. Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes. You can review the most current version of the Terms of Service at any time at: 
    %a{:href=>"http://www.101todos.com.com/terms-of-service"} http://www.101todos.com.com/terms-of-service

  %p Violation of any of the terms below will result in the termination of your Account. While 101todos.com prohibits such conduct and Content on the Service, you understand and agree that 101todos.com cannot be responsible for the Content posted on the Service and you nonetheless may be exposed to such materials. You agree to use the Service at your own risk.

  %h2 Account Terms

  %ol
    %li You must be 13 years or older to use this Service.
    %li You must be a human. Accounts registered by &#8220;bots&#8221; or other automated methods are not permitted.
    %li You must user your Facebook login to use this Service.
    %li Your login may only be used by one person &#8211; a single login shared by multiple people is not permitted. You may create separate logins for as many people as you'd like.
    %li You are responsible for maintaining the security of your account and password. 101todos.com cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.
    %li You are responsible for all Content posted and activity that occurs under your account (even when Content is posted by others who have accounts under your account).
    %li One person or legal entity may not maintain more than one free account.
    %li You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).

  %h2 Cancellation and Termination

  %ol 
    %li You are solely responsible for properly canceling your account. You can cancel your account at any time by clearing all data and removing Service form you trusted Facebook applications.
    %li 101todos.com, in its sole discretion, has the right to suspend or terminate your account and refuse any and all current or future use of the Service, or any other 101todos.com service, for any reason at any time. Such termination of the Service will result in the deactivation or deletion of your Account or your access to your Account, and the forfeiture and relinquishment of all Content in your Account. 101todos.com reserves the right to refuse service to anyone for any reason at any time.

  %h2 Website Visitors

  %ol 
    %li Like most website operators, 101todos.com collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. 101todos.com purpose in collecting non-personally identifying information is to better understand how visitors use its website. From time to time, 101todos.com may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.

  %h2 General Conditions

  %ol 
    %li Your use of the Service is at your sole risk. The service is provided on an &#8220;as is&#8221; and &#8220;as available&#8221; basis.
    %li You understand that 101todos.com uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.
    %li You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service, 101todos.com, or any other 101todos.com service.
    %li You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by 101todos.com.
    %li We may, but have no obligation to, remove Content and Accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party&#8217;s intellectual property or these Terms of Service.
    %li You understand that the technical processing and transmission of the Service, including your Content, may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.
    %li You must not upload, post, host, or transmit unsolicited email, SMSs, or &#8220;spam&#8221; messages.
    %li You must not transmit any worms or viruses or any code of a destructive nature.
    %li 101todos.com does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be corrected.
    %li You expressly understand and agree that 101todos.com shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if 101todos.com has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.
    %li The failure of 101todos.com to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and 101todos.com and govern your use of the Service, superceding any prior agreements between you and 101todos.com (including, but not limited to, any prior versions of the Terms of Service).